#intro{
    background-color: #E8F5FA;
    display: flex;
    flex-direction: column;
    width: 70%;
    border-radius: .625rem;
    font-size: 1.25rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: .625rem;
    margin-top: .625rem;
}

.courseContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.course{
    display: flex;
    width: 70%;
    margin:  .625rem .625rem;
    box-shadow: 0 0 .3125rem .125rem gray;
    background-color: #f8f5ea;
    justify-content: center;
}

.courseButton {
    width: fit-content;
    align-self: center;
    background-color: #344765;
    color: white;
    border-radius: .625rem;
    min-height: 1.875rem;
    min-width: 6.25rem;
    animation: glowing 1300ms infinite;
    text-align: center;
}

.courseButton:hover{
    cursor: pointer;
}

.courseHeading {
    color: #333333;
    font-size: 1.125rem;
    font-weight: bold;
    text-align: center;
}

.courseAbout {
    justify-content: center;
}

.imageContainer, .detailContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: .625rem 1.25rem;
}

.imageContainer {
    border-right:  .0625rem solid gray;
}

h3 {
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1 {
    margin: 1.875rem
}

@keyframes glowing {
    0% {
      background-color: #344765 ;
      box-shadow: 0 0 5px #ADD8E6;
    }
    100% {
      background-color: #4ea7c2;
      box-shadow: 0 0 5px #ADD8E6;
    }
}