.App {
  display: flex;
  justify-content: center;
  color: var(--secondary-clr);
  background-color: var(--primary-clr);
  font-family: Kaushan Script;
  font-size: 2.5rem;
}

.App p {
  width: fit-content;
}
.App p:hover {
  cursor: pointer;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3.5rem;
  background-color: var(--secondary-clr);
  color: var(--primary-clr);
  height: 40vh;
  font-family: Orbitron;
  letter-spacing: 0.3125rem;
}